/*nav*/

.navbar {
  background-color: #000 !important;
}

.nav-link {
  color: #fff !important;
}

.navbar img {
  max-width: 50px;
  height: auto;
}

.navbar .brand-text {
  display: none;
}

.nav-item {
  margin-left: 15px !important;
}

.navbar-collapse {
  margin-left: 15% !important;
}

.banner {
  color: #f5f5f5;
  margin-top: -3rem;
  padding: 3rem 0 13rem 0;
  background-image: url(https://i.pinimg.com/564x/fd/b2/90/fdb290ab3db1358c12abd6860cd39e25.jpg );
}


.banner h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.banner-description {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.banner a {
  color: #ffffff;
  text-decoration: underline;
}

.banner-logo {
  width: 85%;
  margin: 3rem auto;
  display: block;
}

.wide-hr {
  height: 3px !important;
  opacity: 0.1;
}

.banner h2 {
  font-size: 2.5rem;
}

div.admonition,
.admonition {
  margin: 1.5rem auto 2rem auto;
  padding: 0.1rem 1.25rem;
  border-left: 0.5rem solid #008000;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}

.note {
  border-left-color: #2060c2 !important;
}

.page-content {
  margin-top: 3rem;
}

.narrow {
  max-width: 980px;
}